doctype html
html
    head
        title='Simple logIn page'
    body
        form(method='GET' action='/user')
            div.form-group(style={margin: '10px'})
                label(for='name') Name:
                input#name(type='text', placeholder='user name' name='name' style={padding: '5px'})
            div.form-group(style={margin: '10px'})
                label(for='paswd') Password:
                input#paswd(type='password' placeholder='password' name='password' style={padding: '5px'})
            button(type='submit' style={width: '100px', height: '30px', background: 'green'}) Sign In