doctype html
html
    head
        title='Simple logIn page'
        style
            include ../style/login.css
    body
        form(method='GET' action='/user')
            div.form-group
                label(for='name') Name:
                input#name(type='text', placeholder='user name' name='name')
            div.form-group
                label(for='paswd') Password:
                input#paswd(type='password' placeholder='password' name='password')
            button(type='submit') Sign In